.container {
	    flex-direction: row;
			flex-wrap: wrap;
	    background-color: #89023E ;
      justify-content: center;
      text-decoration: none;
		}

.container a {
		    color: #F3E1DD;
		    padding: .5px 80px;
		    text-decoration: none;
		    text-align: center;
		}
.container a:hover {
		    background-color: #F3E1DD;
		    color: #89023E;
		}
