html {
	font-size: 100%
}

p {
    font-family: "Crimson Text", serif, "Georgia", serif;
	font-size: 1rem;
	line-height: 1.5rem;
  text-align: center;
}

.italic {
	font-style: italic;
}

h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}




h1 {
  font-family: "Unica One", cursive;
	font-size: 2.5rem;
  text-align: center;
  color: f1f1f1;
}

h2 {
	font-size: 1.5rem
  text-align: center;
}

body{
	background-color:#F3E1DD;
  text-align: center;
}



img {border: 0;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #89023E;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #946379;
}





a:link, a:visited, a:active {
    color: #89023E;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: "Crimson Text", serif, "Georgia", serif;
}



#container {
  width: 100 auto;

}

.caption {
    color: black;
    font-family: "Raleway", Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: center;
}

#footer {
    color: #CC7178;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid #F3E1DD
}
