.title {
  display: flex;
  justify-content: space-between;
}
/*nav*/
nav ul li {
    display: block;
    border-top: 1px solid;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}

.authorbox img {
  display: none;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}


article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}



@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .authorbox img {
      display: none;
      width: 100%;
      margin-top: 0.5em;

    }

    .authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }



}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }



  .section1 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}

/*color*/

footer {
    color: #CC7178;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid #F3E1DD
}

html {
	font-size: 100%
}

section {
    font-family: "Crimson Text", serif, "Georgia", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}


h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;

}


h1 {
  font-family: "Unica One", cursive;
	font-size: 2.5rem;
  color: black;
}

h2 {
	font-size: 1.5rem;
}

body{
	background-color:#F3E1DD;
}


.img {border: 0;
}

a:link, a:visited, a:active {
    color: #89023E;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: "Crimson Text", serif, "Georgia", serif;
}
